apt-clone==0.2.1
apturl==0.5.2
argcomplete==3.5.2
async-timeout==4.0.1
attrs==24.2.0
beautifulsoup4==4.13.1
blinker==1.4
Brlapi==0.8.3
Brotli==1.0.9
certifi==2020.6.20
cffi==1.17.1
chardet==4.0.0
click==8.0.3
colorama==0.4.4
command-not-found==0.3
configobj==5.0.6
contourpy==1.3.1
cryptography==3.4.8
cupshelpers==1.0
cycler==0.12.1
dbus-python==1.2.18
decorator==4.4.2
defer==1.0.6
distro==1.7.0
docopt==0.6.2
dotty-dict==1.3.1
evdev==1.6.1
ewmh==0.1.6
eyeD3==0.8.10
filelock==3.6.0
fonttools==4.55.8
fsspec==2025.2.0
greenlet==1.1.2
halo==0.0.31
hid==1.0.6
hidapi==0.9.0.post3
hjson==3.1.0
html5lib==1.1
httplib2==0.20.2
idna==3.3
ifaddr==0.1.7
imageio==2.37.0
imageio-ffmpeg==0.6.0
IMDbPY==2021.4.18
importlib-metadata==4.6.4
jeepney==0.7.1
Jinja2==3.1.5
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
keyring==23.5.0
kiwisolver==1.4.8
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
lazr.uri==1.0.6
liquidctl==1.5.1
log-symbols==0.0.14
louis==3.20.0
lxml==5.3.0
macaroonbakery==1.3.1
Mako==1.1.3
MarkupSafe==2.0.1
matplotlib==3.10.0
milc==1.9.0
more-itertools==8.10.0
MouseInfo==0.1.3
mpmath==1.3.0
msgpack==1.0.3
mutagen==1.45.1
nemo-emblems==6.0.1
netaddr==0.8.0
netifaces==0.11.0
networkx==3.4.2
numpy==2.2.2
nvidia-cublas-cu12==12.4.5.8
nvidia-cuda-cupti-cu12==12.4.127
nvidia-cuda-nvrtc-cu12==12.4.127
nvidia-cuda-runtime-cu12==12.4.127
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu12==11.2.1.3
nvidia-curand-cu12==10.3.5.147
nvidia-cusolver-cu12==11.6.1.9
nvidia-cusparse-cu12==12.3.1.170
nvidia-cusparselt-cu12==0.6.2
nvidia-nccl-cu12==2.21.5
nvidia-nvjitlink-cu12==12.4.127
nvidia-nvtx-cu12==12.4.127
oauthlib==3.2.0
packaging==21.3
PAM==0.4.2
pandas==2.2.3
pexpect==4.8.0
pillow==10.4.0
platformdirs==4.3.6
proglog==0.1.10
protobuf==3.12.4
psutil==5.9.0
ptyprocess==0.7.0
PyAutoGUI==0.9.54
pycairo==1.20.1
pycparser==2.22
pycryptodomex==3.11.0
pycups==2.0.1
pycurl==7.44.1
pyelftools==0.27
PyGetWindow==0.0.9
Pygments==2.18.0
PyGObject==3.42.1
PyICU==2.8.1
pyinotify==0.9.6
PyJWT==2.3.0
pymacaroons==0.13.0
PyMsgBox==1.0.9
PyNaCl==1.5.0
pynput==1.7.7
pynvim==0.4.2
pyparsing==2.4.7
pyparted==3.11.7
pyperclip==1.9.0
PyQt5==5.15.11
PyQt5-Qt5==5.15.15
PyQt5_sip==12.15.0
PyRect==0.1.4
pyRFC3339==1.1
PyScreeze==1.0.1
pyserial==3.5
python-apt==2.4.0+ubuntu4
python-dateutil==2.9.0.post0
python-debian==0.1.43+ubuntu1.1
python-gnupg==0.4.8
python-magic==0.4.24
python-xlib==0.29
python3-xlib==0.15
pytweening==1.2.0
pytz==2022.1
pyusb==1.2.1
PyWinCtl==0.0.11
pyxdg==0.27
PyYAML==5.4.1
qmk==1.1.6
qrcode==7.3.1
QuickTile @ https://github.com/ssokolow/quicktile/archive/master.zip
ranger-fm==1.9.3
referencing==0.35.1
reportlab==3.6.8
requests==2.25.1
requests-file==1.5.1
rpds-py==0.22.3
scipy==1.15.2
SecretStorage==3.3.1
setproctitle==1.2.2
six==1.16.0
soupsieve==2.3.1
speedtest-cli==2.1.3
spinners==0.0.24
suntime==1.3.2
sympy==1.13.1
systemd-python==234
termcolor==2.5.0
tinycss2==1.1.1
tldextract==3.1.2
triton==3.2.0
types-colorama==0.4.15.20240311
typing_extensions==4.12.2
tzdata==2025.1
ubuntu-drivers-common==0.0.0
ufw==0.36.1
Unidecode==1.3.3
urllib3==1.26.5
vboxapi==1.0
wadllib==1.3.6
webencodings==0.5.1
websockets==9.1
xdg==5
xkit==0.0.0
xlib==0.21
xlrd==1.2.0
yt-dlp==2022.4.8
zipp==1.0.0
