#tasks_listview {
    width: 50%;
}
#task_info_textarea {
    width: 50%;
}
.category_label {
    color: green;
    width: 25%;
}

.task_title_label {
    dock: left;
    width: 25%;
    text-align: left;
}

.task_timestamp_label {
    dock: right;
    width: 25%;
    text-align: right;
    }